@font-face {
  font-family: "Iran Sans";
  src: url("./../../assest/font/IranianSansBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 450px;
  max-width: 95%;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
  font-family: Iran Sans;
  direction: rtl;
}

.modalContent h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
  text-align: center;
}

.field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.field label {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.field input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border 0.2s;
}

.field input:focus {
  border-color: #007bff;
}

.registerClass {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.registerClass:hover {
  background: #0056b3;
}

/* انیمیشن باز شدن مودال */
@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
