@font-face {
  font-family: "Iran Sans";
  src: url("./../../assest/font/IranianSansBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.modalContainer {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: Iran Sans;
}

.modalWrapper {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  direction: rtl;
  gap: 1rem;
}
.modalWrapper h2 {
  text-align: center;
  margin-top: 4rem;
}
.closeModalBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: rgb(235, 22, 22);
  color: #faf6f6;
}
.closeModalBtn:hover {
  background: white;
  color: red;
  border: 1px solid red;
  box-shadow: 0px 3px 5px red;
}
.userInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.userInfoWrapper input {
  width: 100%;
  padding: 15px 20px;
  border: 2px solid #ddd;
  border-radius: 12px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  outline: none;
}
.userInfoWrapper input:focus {
  border-color: #201f20;
  background-color: #fff;
  box-shadow: 0 0 0 3px rgba(106, 17, 203, 0.1);
}
.userInfoWrapper label {
  font-size: 16px;
  color: #5b5a5a;
  pointer-events: none;
  transition: all 0.3s ease;
}
.reserveBtn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #08dc36 0%, #04a084 100%);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(106, 17, 203, 0.3);
}

.successMessage{
  position: fixed;
  top: 50%;
  left: 50%;
 transform: translate(-50% , -50%);
 background: white;
 padding: 20px;
 border-radius: 10px;
 color: green;
 font-weight: bold;
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}