@font-face {
  font-family: 'Iran Sans';
  src: url('./../../assest/font/IranianSansBold.ttf') format('truetype'); 
  font-weight: bold; 
  font-style: normal;
}

.navbarWrapper{
    display: flex;
    justify-content: space-around;
    align-items:center;
    position: fixed;
    margin-top: 0px;
    padding: 0;
    flex-direction: row-reverse;
    box-shadow: 0px 3px 5px #ccc;
    width: 100%;
    z-index: 1000;
    background-color: white;

}
.logobook{
    width: 100px;
}

.navbarWrapper ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    max-width: 80%;
    cursor: pointer;
    flex-direction: row-reverse;
    font-family: Iran Sans;
    

}
.navbarWrapper li{
    opacity: 0.7;
    padding: 5px;
}
.navbarWrapper li:hover{
    opacity: 1;
    background-color: rgb(232, 231, 231);

}
.personImg{
    width: 40px;
    transition: transform 0.5s ease-in;    
}
.personImg:hover{
    transform: scale(1.2);
}
.panelWrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.logoutBtn{
    background: #dc3545;
  color: white;
  border: none;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 200;
  transition: background 0.3s;
  margin-top: 1rem;
}
.welcomeText{
    font-weight: 500;
  color: #495057;
}
.logoutBtn:hover {
  background: #e86b77;
}