@font-face {
  font-family: 'Iran Sans'; 
  src: url('./../../assest/font/IranianSansBold.ttf') format('truetype');
  font-weight: bold; 
  font-style: normal;
}




.bookInfoWrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 8rem;
}
.bookInfoContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: Iran Sans;
}
.bookInfoContent h3{
    color: rgb(114, 114, 114);
}
.bookInfoContent h5{
    color: rgb(152, 151, 151);
}
.bookInfoContent img{
    max-width: 350px;
    border-radius: 0px 40px ;
}
.bookInfoContent p{
    text-align: center;
    line-height: 2rem;
    max-width: 70%;
}