.panelPageWrapper {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  min-height: 100vh;
  background-color: #f5f5f5;
}
.panelPageWrapper h1 {
  text-align: center;
}
.panelTabWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.panelTabBtn {
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  background: #bdbdbe;
  color: #4b4b4b;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.panelTabBtn:hover {
  background: rgb(246, 125, 95);
}

.activeTab {
  background-color: #d01811 !important;
  color: white !important;
}
.createBookWrapper {
  width: 100%;
  direction: rtl;
}
.createBookWrapper form {
  display: flex;
  max-width: 70%;
  position: relative;
  right: 15%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  direction: rtl;
  border: 1px solid #ccc;
  padding: 10px 1rem;
  box-shadow: 0px 3px 5px #8c8b8b;
  margin-top: 3rem;
}
.createBookWrapper label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #444;
  width: 100%;
}
.createBookWrapper input {
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.6rem;
  font-size: 0.95rem;
  transition: all 0.2s ease;
  width: 100%;
}

.createBookWrapper input,
textarea {
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.6rem;
  font-size: 0.95rem;
  transition: all 0.2s ease;
  width: 100%;
}

.createBookWrapper input:focus,
textarea:focus {
  border-color: #4f46e5; 
  outline: none;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1);
}
.createBookWrapper button {
  width: 85%;
  padding: 0.9rem;
  background: #4f46e5;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}

.createBookWrapper button:hover {
  background: #4338ca;
}

.createBookWrapper button:active {
  transform: scale(0.97);
}